<form (ngSubmit)="onConfirm()" *ngIf="active">
  <div class="modal-header">
    <h4 class="modal-title pull-left">
      {{title}}
    </h4>
    <button type="button" class="close pull-right" (click)="hideConfirmationModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p [innerHtml]="body"></p>
  </div>
  <div class="modal-footer">
    <div class="text-center">
      <button type="submit" class="btn btn-success">
        Այո
      </button>
      <button type="button" class="btn btn-default" (click)="onCancel()">
        Ոչ
      </button>
    </div>
  </div>
</form>
