/*@import "../../less/general.less";*/

.frame{
  width: calc(100% - 200px);
  height: calc(100vh - 80px);
  border: 3px ridge gray;
  float: right;
}


.right-panel{
  width: 200px;
  height: calc(100vh - 80px);
  background-color: silver;
}


.window {
  border:1px solid gray;
  position:relative;
  maring:10px;
  padding: 0px;
  z-index: 1;
}

.window-size-XXS{
  width:100px;
}
.window-size-XS{
  width:200px;
}
.window-size-S{
  width:300px;
}
.window-size-M{
  width:500px;
}
.window-size-L{
  width:700px;
}
.window-size-XL{
  width:900px;
}
.window-size-XXL{
  width:100%;
}

.window-heading{
  display: block;
  color: white;
  font-weight: bold;
  text-indent: 5px;
}

.window-body{
  padding:3px;
  background-color: #cddbf2;
}

.window-menu{
  width: 100%;
  margin:0px;
  padding: 2px;
  height: 30px;
  background-color: cornflowerblue;
}

.close{
  position: absolute;
  top:0px;
  right: 20px;
  height:10px;
  width: 10px;
}
.ng-draggable {
  cursor: move;
}
