<div class="container">
  <div *ngIf='!isLoaded' style="margin: 20px auto;width: 50px;">
    <i  class="fas fa-sync fa-spin"></i>
  </div>
  <table *ngIf='isLoaded' class="table table-hover">
    <thead>
    <tr>
      <th class="table-id">Հ/Հ</th>
      <th>Անվանումը</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of items">
      <td>{{row.id}}</td>
      <td>
        {{ editRowId != row.id ? row.name : ''}}
        <input *ngIf="editRowId == row.id" (blur)="edit(row.id)" [(ngModel)]="editedBoh" class="form-control" placeholder="{{row.name}}" />
      </td>
      <td class="toolbar">
        <span style="cursor: pointer" (click)="removeBoh(row.id)"><i class="far fa-trash-alt fa-fw"></i></span>
        <span style="cursor: pointer" (click)="copyBoh(row.id)"><i class="far fa-copy fa-fw"></i></span>
        <span style="cursor: pointer" (click)="editBoh(row.id)"><i class="far fa-edit fa-fw"></i></span>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-group row">
    <div class="col-md-10">
      <input [(ngModel)]="newBoh" class="form-control" placeholder="Նոր ԲՈՀ" />
    </div>
    <div class="col-md-2">
      <button (click)="addBoh()" class="btn btn-success"><i class="far fa-save fa-lg"></i></button>
    </div>
  </div>
</div>


