<div class="example-block">
  <div class="example-block__item">
    <ngx-select [formControl]="control_1"
                [allowClear]="true"
                [items]="items" optionValueField="id" optionTextField="text"
                [disabled]="ngxDisabled"
                [(ngModel)]="ngxValue"
                (select)="selectElement()"
                placeholder="-- ընտրեք --">

      <ng-template ngx-select-option ngx-select-option-selected let-option let-rev="isReviewer">
        <span class="color-box" [style]="style('background-color:' + option.value)"></span>
        <span [innerHtml]="rev"></span>
        ({{option.data.reviewer}})
      </ng-template>

      <ng-template ngx-select-option-not-found>
        Ոչ մի արդյունք
      </ng-template>

    </ngx-select>
    <p></p>
  </div>
</div>
