.dropdown-item:focus, .dropdown-item:hover {
  color: #161822;
  background-color: #cddbf2;
}


.top-menu{
  width: 100%;
  height: 40px;
  background-color: #337ab7;
}

.right{
  float:right;
}

.menu-icon-length {
  position: relative;
  right: 20px;
}
